@font-face{
  font-family: "Myriad Pro";
}
/* Header Starts Here  ---------------------------------------------*/
header{
  padding: 30px 0;
  background-color: #000;
  font-size: 16px;
}
header .logo{
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding-top: 6px;
}
header li .liteBlue{
  color: #fff;
}
header li .liteBlue:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
header li{
  float: left;
}
header .signUp{
  color: #42b8dd;
  border: 2px solid #42b8dd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
header .signUp:hover{
  background-color: rgba(0, 255, 0, 0.2);
}
header .signUp:focus{
  background-color: transparent;
}
/* Banner Will Start Here ------------------------------------------ */
.banner{
  padding: 300px 0;
  background-color: #666666;
}
.sprite{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 130px;
  height: 130px;
}
h1{
  position: relative;
  font-size: 60px;
  font-weight: normal;
  color: #fff;
}
.banner a{
  position: absolute;
  top: 496px;
  left: 71px;
  font-size: 16px;
  color: #42b8dd;
  text-decoration: none;
}
.banner a:hover{
  color: lightblue;
}
