@font-face{
  font-family: "Myriad Pro";
}
/* Header Starts Here ----------------------------------------------- */
header{
  padding: 30px 0;
  background-color: #000;
  font-size: 16px;
}
header .logo{
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding-top: 6px;
}
header li .liteBlue{
  color: #fff;
}
header li .liteBlue:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
header li{
  float: left;
}
header .signUp{
  color: #42b8dd;
  border: 2px solid #42b8dd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
header .signUp:hover{
  background-color: rgba(0, 255, 0, 0.2);
}
header .signUp:focus{
  background-color: transparent;
}
/* Banner Start Here ------------------------------------------------ */
.banner{
  padding: 300px 0;
  background-color: #666666;
}
.banner .container{
  position: relative;
}
.banner .sprite{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 130px;
  height: 130px;
}
h1{
  color: #fff;
  font-size: 60px;
  font-weight: normal;
}
.banner a{
  position: absolute;
  top: 81px;
  left: -62px;
  font-size: 16px;
  color: #42b8dd;
  text-decoration: none;
}
.banner a:hover{
  color: lightblue;
}
/* Services Starts Here --------------------------------------------- */
.services{
  color: #fff;
  padding: 50px 0;
  background-color: #42b8dd;
}
.services h1{
  font-size: 68px;
  font-weight: bold;
  text-transform: uppercase;
}
.services h1 hr{
  padding: 5px;
  background-color: #fff;
}
.sprite-wrapper {
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 30px;
  text-align: center;
  vertical-align: middle;
}
.cloud{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  width: 39px;
  height: 30px;
  display: inline-block;
  margin-top: 30px;
  background-position: -135px 0;
}
.fork {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  width: 39px;
  height: 38px;
  display: inline-block;
  margin-top: 30px;
  background-position: -135px -31px;
}
.light{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  width: 39px;
  height: 37px;
  display: inline-block;
  margin-top: 30px;
  background-position: -135px -73px;
}
.hammer{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  width: 41px;
  height: 34px;
  display: inline-block;
  margin-top: 30px;
  background-position: -135px -114px;
}
.services .serviceOne h4,
.services .serviceTwo h4,
.services .serviceThree h4,
.services .serviceFour h4{
  text-transform: uppercase;
}
.services .serviceOne p,
.services .serviceTwo p,
.services .serviceThree p,
.services .serviceFour p{
 margin: 0;
 padding: 10px;
}
/*Servics Footer Here ------------------------------------------------- */
.services-footer li{
  margin: 0 73px;
  text-align: center;
  list-style-type: none;
  width: 39px;
  height: 35px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.services-footer ul{
  margin: 60px auto;
  padding: 0;
}
.services-footer ul .bulb{
  background-position: 0px -133px;
}
.services-footer ul .earth{
  background-position: 0px -169px;
}
.services-footer ul .cam{
  background-position: 0px -205px;
}
.services-footer ul .wrench{
  background-position: 0px -242px;
}
.services-footer ul .mic{
  background-position: 0px -280px;
}
.services-footer ul .note{
  background-position: 0px -315px;
}
/* work section starts here-------------------------------------------- */
.work{
  padding: 100px 0;
  background-color: #ebebeb;
}
.work h1{
  color: #363636;
  font-size: 68px;
  font-weight: bold;
  text-transform: uppercase;
}
.work h1 hr{
  padding: 5px;
  background-color: #363636;
}
.work .btn{
  text-align: center;
}
.work ul{
  list-style-type: none;
  clear: both;
  padding-left: 0;
}
.work .upper li{
  margin: 10px 5px;
  border: 2px solid #42b8dd;
  border-radius: 10px;
}
.work .upper li a{
  clear: both;
  text-decoration: none;
  color: #42b8dd;
  border-spacing: 2px;
}
.work .upper li:hover{
  background-color: #42b8dd;
}
.work .upper li:hover a{
  color: #fff;
}
.work .btn-all{
  padding: 7px 30px;
}
.work .upper li a:focus{
  text-transform: none;
}
.work .lower li{
  width: 370px;
  height: 370px;
  background-color: #ccc;
  margin-bottom: 30px;
  padding: 0;
  position: relative;
}
.work .lower .mid{
  margin: 0 30px;
}
.work .lower h4{
  text-transform: uppercase;
  color: #42b8dd;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}
.work .lower .posi{
  display: none;
  position: absolute;
  top: 270px;
  width: 370px;
  height: 100px;
  background-color: #fff;
}
.work .lower li:hover .posi{
  display: block;
}
.work .lower p{
  font-size: 14px;
  color: #898989;
  text-transform: capitalize;
}
.work .lower .add{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-position: -40px -134px;
}
/* work-foot section stats Here----------------------------------------- */
.work-foot{
  padding-bottom: 40px;
  position: relative;
  background-color: #666666;
}
.work-foot .cent{
  text-align: center;
}
.work-foot .quote-text{
  font-weight: normal;
  color: #fff;
  font-size: 36px;
  margin: 150px;
}
.work-foot .item .car-member{
  width: 72px;
  height: 72px;
  background-color: #cccccc;
  border-radius: 36px;
  position: absolute;
  top: 135px;
  left: 530px;
}
.work-foot h4{
  position: absolute;
  text-transform: uppercase;
  top: 208px;
  left: 510px;
}
.work-foot .indicator{
   bottom: 0;
}
